/.idea
/*.min.min.*.*
/bitrix/services
/bitrix/components
/bitrix/activities
/bitrix/admin
/bitrix/blocks
/bitrix/catalog_export
/bitrix/css
/bitrix/fonts
/bitrix/gadgets
/bitrix/images/
/bitrix/js
/bitrix/legal
/bitrix/modules
/bitrix/otp
/bitrix/panel
/bitrix/php_interface
/bitrix/services
/bitrix/sounds
/bitrix/stack_cache
/bitrix/template
/bitrix/themes
/bitrix/tools
/bitrix/tmp
/bitrix/!templates
/bitrix/updates
/bitrix/wizards
/bitrix/*.*